@font-face {
  font-family: "Segoe UI";
  src: url("fonts/Segoe UI.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
.daro-main {
  background: radial-gradient(#00b683, #2c7b25);
  max-width: 100dvw;
  min-height: 100dvh;
}
.daro-title {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 5px #000000;
  font-size: 3rem;
}
.daro-subtitle {
  font-weight: bold;
  text-shadow: 1px 1px 5px #000000c2;
  font-size: 2rem;
}
.daro-color-1 {
  color: #5cd55c;
}
.daro-color-2 {
  color: #5aaf6e;
}
.daro-color-3 {
  color: #49943f;
}
.daro-color-4 {
  color: #00b683;
}
.daro-color-5 {
  color: #98ecab;
}
.daro-color-6 {
  color: #d3ecd9;
}
.daro-color-7 {
  color: #9e9e9e;
}
.daro-text {
  color: #fff;
  font-weight: normal;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px #000000;
  font-size: 1.5rem;
}
.daro-list {
  list-style: none;
  text-align: center;
}
.daro-list-li {
  color: #ccc;
  font-weight: normal;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px #000000;
  font-size: 1.3rem;
}
.daro-article {
  padding: 01rem !important;
}
.daro-container {
  background: linear-gradient(#d8ecdc, #d4ecdc);
  border-radius: 100px 10px 100px 10px;
  border: 5px solid #fff;
  margin: 1dvw 0;
}
.daro-container-black {
  background-color: #e5e5f7;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #313131 10px
    ),
    repeating-linear-gradient(#1b1b1bdd, #313131);
  border-radius: 10px 100px 10px 100px;
  border: 5px solid #fff;
  margin: 0dvw 0;
  box-shadow: 0 0 10px #000;
}
.daro-carousel {
  margin: 5dvh 0;
}
.carousel-text {
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.daro-carousel-img {
  margin: auto;
  height: 70dvh;
  display: flex;
  justify-content: center;
  border-radius: 10px 100px 10px 100px;
}
.daro-carousel-img img {
  border: 2px solid #d3ecd9;
  max-height: 70dvh;
  border-radius: 10px 60px 10px 60px;
}
@media screen and (max-width: 687px) {
  .daro-article {
    padding: 0.5rem 0rem !important;
  }
  .carousel-text {
    min-width: 300px;
    min-width: none;
  }
}
@media screen and (max-width: 926px) and (orientation: landscape) {
  .daro-carousel-img {
    width: 30dvw;
  }
  .daro-carousel-img img {
    max-height: 100dvw;
  }
}
