@font-face {
  font-family: "Segoe UI";
  src: url("../../fonts/Segoe UI.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
.daro-main {
  background: radial-gradient(#00b683, #2c7b25);
  max-width: 100dvw;
  min-height: 100dvh;
}
.daro-title {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 5px #000000;
  font-size: 3rem;
}
.daro-subtitle {
  font-weight: bold;
  text-shadow: 1px 1px 5px #000000c2;
  font-size: 2rem;
}
.daro-color-1 {
  color: #49943f;
}
.daro-color-2 {
  color: #00ac7b;
}
.daro-color-3 {
  color: #55d855;
}
.daro-color-4 {
  color: #65e983;
}
.daro-color-5 {
  color: #00ac34;
}
.daro-color-6 {
  color: #aee7b9;
}
.daro-color-7 {
  color: #ffffff93;
}
.daro-text {
  color: #fff;
  font-weight: normal;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px #000000;
  font-size: 1.5rem;
}
.daro-list {
  list-style: none;
  text-align: left;
}
.daro-list-li {
  color: #ccc;
  font-weight: normal;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px #000000;
  font-size: 1.3rem;
}
.daro-margin {
  margin: 4dvh 0;
}
.daro-article {
  padding: 01rem !important;
}
.daro-container {
  background: linear-gradient(#d8ecdc, #d4ecdc);
  border-radius: 100px 10px 100px 10px;
  border: 5px solid #fff;
  margin: 1dvw 0;
}
.daro-container-black {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: repeating-linear-gradient(
      45deg,
      #2a2a2a 25%,
      transparent 0%,
      transparent 0%,
      #2a2a2a 75%,
      #2a2a2a
    ),
    repeating-linear-gradient(
      45deg,
      #2a2a2a 25%,
      #353535 25%,
      #353535 75%,
      #2a2a2a 75%,
      #2a2a2a
    );
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  border-radius: 10px 100px 10px 100px;
  border: 5px solid #fff;
  margin: 5dvh 0;
  box-shadow: 0 0 10px #000;
}
.daro-carousel {
  margin: 5dvh 0;
}
.carousel-text {
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.daro-carousel-img {
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 10px 100px 10px 100px;
}
.daro-carousel-img img {
  border: 2px solid #d3ecd9;
  border-radius: 10px 60px 10px 60px;
}
.carousel-arrow {
  border: none;
  background: none;
  color: #fff;
  font-size: 2rem;
  opacity: 0.5;
}
.carousel-arrow:hover {
  opacity: 1;
}
.footer-content {
  background-color: #006e4b;
  color: #65e983;
}
.footer-link {
  text-decoration: none;
  color: #aee7b9;
}
.footer-link:hover {
  color: #fff;
}
@media screen and (max-width: 687px) {
  .daro-article {
    padding: 0.5rem 0rem !important;
  }
  .carousel-text {
    min-width: 300px;
    min-width: none;
  }
}
@media screen and (max-width: 926px) and (orientation: landscape) {
  .daro-carousel-img {
    width: 30dvw;
  }
}
